// Twitter bootstrap handles flex-ordering up to 12, hence the start from 13
.order-13 {
    -ms-flex-order: 13;
    order: 13;
}

.order-14 {
    -ms-flex-order: 14;
    order: 14;
}

.order-15 {
    -ms-flex-order: 15;
    order: 15;
}

.order-16 {
    -ms-flex-order: 16;
    order: 16;
}

.order-17 {
    -ms-flex-order: 17;
    order: 17;
}

.order-18 {
    -ms-flex-order: 18;
    order: 18;
}

.order-19 {
    -ms-flex-order: 19;
    order: 19;
}

.order-20 {
    -ms-flex-order: 20;
    order: 20;
}

.order-21 {
    -ms-flex-order: 21;
    order: 21;
}

.order-22 {
    -ms-flex-order: 22;
    order: 22;
}

.order-23 {
    -ms-flex-order: 23;
    order: 23;
}

.order-24 {
    -ms-flex-order: 24;
    order: 24;
}

.order-25 {
    -ms-flex-order: 25;
    order: 25;
}
